@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* @apply dark:bg-black dark:text-white; */
  @apply bg-bgDark text-textWhite;
}

body,
html {
  scroll-snap-type: proximity;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
  width: 768px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* @apply w-[1126px] h-[60px] border-b border-opacity-50 border-gray-200 dark:border-white dark:border-opacity-50 cursor-pointer; */
  @apply w-[1126px] h-[60px] border-b border-borderGray cursor-pointer;
}
